#title {
    background-color: #ff4c68;
    color: white;
}
.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-family: montserrat;
    font-weight: 900;
}
.btn {
    font-family: montserrat;
}
/* Navigation Bar */
.navbar {
    padding-bottom: 0 0 4.5rem;
}
.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 500px;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: montserrat;
}
/* Download Buttons */
.download-button {
    margin: 5% 5%;
}
/* Title Image */
.title-image {
    transform: rotate(25deg);
    margin-top: 50px;
}
/* Features */
#features {
    padding: 7% 10%;
}
h3 {
    font-family: montserrat;
    font-size: 1.5rem;
    font-weight: 900;
}
.feat-box {
    text-align: center;
    padding: 8%;
}
p {
    color: #8f8f8f;
}
.feat-icons {
    color: #ef8172;
    margin-bottom: 1rem;
}
.feat-icons:hover {
    color: #ff4c68;
}
/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item {
    padding: 7% 15%;
}
h2 {
    font-family: montserrat;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* Press */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing */
#pricing {
    padding: 5% 5%;
    text-align: center;
}

/* CTA */
#cta {
    background-color: #ff4c68;
    padding: 5%;
    text-align: center;
}
h3 {
    font-family: montserrat;
    font-weight: 900;
    color: white;
    margin-bottom: 3%;
    font-size: 2.5rem;
    text-align: center;
}
#footer {
    text-align: center;
    margin: 3% 0%;
}
.footicon {
    padding: 1% 0.5%;
}
.cr {
    font-size: 20px;
}